<?xml version="1.0"?>
<launch>
  <arg name="domain_file"/>
  <arg name="problem_file"/>
  <arg name="problem_output_file"/>
  <arg name="knowledge_base_node_name" default="rosplan_knowledge_base"/>
  <!-- Kowledge Base Node -->
  <node name="$(arg knowledge_base_node_name)" pkg="rosplan_knowledge_base" type="knowledgeBase" respawn="false" output="screen">
    <param name="domain_path" value="$(arg domain_file)"/>
    <param name="problem_path" value="$(arg problem_file)"/>
    <param name="use_unknowns" value="false"/>
  </node>
  <!-- Problem Interface Node -->
  <include file="$(find rosplan_planning_system)/launch/includes/problem_interface.launch">
    <arg name="knowledge_base" value="$(arg knowledge_base_node_name)"/>
    <arg name="domain_path" value="$(arg domain_file)"/>
    <arg name="problem_path" value="$(arg problem_output_file)"/>
    <arg name="problem_topic" value="problem_instance"/>
  </include>
  <!-- Planner Interface -->
  <include file="$(find rosplan_planning_system)/launch/includes/planner_interface.launch">
    <arg name="use_problem_topic" value="true"/>
    <arg name="problem_topic" value="/rosplan_problem_interface/problem_instance"/>
    <arg name="planner_topic" value="planner_output"/>
    <arg name="domain_path" value="$(arg domain_file)"/>
    <arg name="problem_path" value="$(problem_output_file)"/>
    <arg name="data_path" value="$(data_path)"/>
    <arg name="planner_command" value="timeout 10 $(find rosplan_planning_system)/common/bin/popf DOMAIN PROBLEM"/>
  </include>
</launch>
